<div class="container">
    <div class="page-title">
        <h1>Recuperar acceso</h1>
    </div>
    <div class="form-container">
        <div class="form-description">
            <h4>Cambiá tu contraseña</h4>
        </div>
        <div>
            <form class="form" action="" id="resetPassword">
                <input type="password" name="password" required> 
                <div class="notification" id="notif"></div>
                <button class="submitButton" type="submit">Cambiar contraseña</button>
            </form>
        </div>
    </div>
</div>

<script src="/js/reset.js"></script>