<div class="container">
    <div class="navButton-container">
        <a href="/products" ><button class="navButton">Ver los productos</button></a>
        <a href="/profile" ><button class="navButton">Ver mi perfil</button></a> 
        <a href="" class="goToCartButton" id="{{user.cart}}"><button class="navButton">Ir al carrito</button></a> 
        <a href="/chat" ><button class="navButton">Ir al chat</button></a> 
    </div>

    <h1 class="title">Panel de usuarios</h1>

    <div class="users-container"></div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/users.js"></script>